name: Deploy Release

on:
  release:
    types:
      - released
    
env:
  REGISTRY: ghcr.io/pperzyna/bobcat_exporter

jobs:
  build:
    name: Release
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup
        uses: actions/setup-go@v2
        with:
          go-version: '^1.12'

      - name: Build
        run: make build

      - name: Container - Login
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Container - Build    
        run: docker build -t ${{ env.REGISTRY }}:$(echo $GITHUB_REF | sed -e "s/refs\/tags\///g") .

      - name: Container - Push    
        run: docker push ${{ env.REGISTRY }}:$(echo $GITHUB_REF | sed -e "s/refs\/tags\///g") 
