name: Deploy Main

on:
  push:
    branches:
      - main

env:
  REGISTRY: ghcr.io/pperzyna/bobcat_exporter

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup
        uses: actions/setup-go@v2
        with:
          go-version: '^1.12'

      - name: Build
        run: make build

      - name: Container - Login
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Container - Build    
        run: docker build -t ${{ env.REGISTRY }}:latest .

      - name: Container - Push    
        run: docker push ${{ env.REGISTRY }}:latest
